
.centered-text {
    text-align:center;
}

.modal-small {
    min-height:60px;
}

.text-input-box{
    width:469px;
    resize:both;
    overflow:auto;
}

.rsvp-text-container{
    background-color:gainsboro;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    height: 333px;
}

.rsvp-controller{
    border-style:solid;
    width:80%;
    margin:auto;
    border-width:2px;
    border-radius:5px;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.outlined-button {
    border-width:2px;
    border-radius:5px;
    border-style:solid;
    font-size: large;
    margin: 0px 2px 0px 2px;
}